.defaultContainer{
  margin: 37px auto;
  max-width: 1300px;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 28px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px #00000014;
  background: white;
}